body{
  margin: 0;
  width: 100%;
}

.box ul {
    display: flex;
    gap: 32px;
    margin: 0 auto;
    padding: 30px 0px 0px 0px;
}
.box{
    display: flex;
}
.box ul a{
    text-decoration: none;
    
}
.box li{
    list-style: none;
    
    
}
.nav-container{
    height: 92px;
    width: 1270px;
    background-color: whitesmoke;


}
.nav-container img{
    width: 139px;
    height: 60px;
    padding: 15px;
}

.box button{
     background-color: rgba(70, 145, 101, 1);
     width: 164px;
     height: 44px;
    border: none;
    border-radius: 8px;
    font-size: bold;
    padding: 20px;

}
.hero-section{
    height: 674px;
    width: 1270px;
    background-image: url('../assets/hero-bg.png');
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text{
    height:379px;
    width: 927px;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
}
.hero-text:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.note{
    text-align: center;
}
.note-section{
    height: 300px;
    width: 1030px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
}

.card1-note img{
    background-color: red;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    

}
.card2-note img{
    background-color: red;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

}
.card3-note img{
    background-color: red;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

}
.card4-note img{
    background-color: red;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.card1-note, .card2-note, .card3-note, .card4-note {
    width: 300px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px 10px whitesmoke;
    margin: 0 auto;
    text-align: center;
    padding-top: 70px;

}
.second-brain-section{
    height:840px;
    width:1270px;
    
    
}
.box-contain{
  width: 1360px;
  height: 600px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  gap: 60px;
}
.box2{
    margin: 0 auto;
    width: 100%;
    padding-top: 100px;
}
.box1 img{
   margin-left: 120px;
   margin-top: 120px;
}
.box2 li{
    list-style-image: url('../assets/CheckCircle.png');
}
.Early Access Section{
    height: 600px;
    width: 1270px;

}
.early-access-container{
    background-color: whitesmoke;
    height: 600px;
    width: 1270px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}  
.access-contain{
    text-align: center;

} 
.access-contain button{
    
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: url('../assets/ArrowRight.png') no-repeat right center;
    background-color: green;

}
.access-contain button:hover{
    background-color: rgba(88, 70, 145, 0.8);
}
.footer-section{
    height: 400px;
    width: 1270px;
    margin: 0 auto;
    background-color: #001931;
}

.footer-container{
  width: 1270px;
  margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #001931;
}
